body {
    background-color: rgb(50, 50, 50);
}

button{
    cursor: pointer;
}

.main {
    width: 100%;

    margin-top: 8px;
    display: grid;

    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

nav {
    margin-top: -8px;

    background-color: rgb(30, 30, 30);
    width: 100%;
    height: fit-content;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 19px;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.navElementLeft,
.navElementCenter,
.navElementRight {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.navElementRight .upload {
    width: 100%;
    height: 100%;
}

.upload img{
    max-width: 100%;
    max-height: 100%;
}

.upload {
    background-color: rgb(100, 100, 100);
    width: 100%;
}

.displayContainer {
    text-align: center;
}

.toggleDisplay {
    position: absolute;
    inset: 0px;
    width: 0px;
    height: 0px;
}

.displayArea video,
.displayArea img {
    width: 100%;
}

.toggleLabel .toggleLabelImage{
    width: 10%;
}

.toggleDisplay:checked ~ .toggleLabel .toggleLabelImage {
    transform: rotate(180deg);
}

.toggleDisplay:checked ~ .displayArea {
    height: 0;
    transition: height 1s ease-in-out;
    visibility: hidden;
}

.folder {
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    border-color: black;

    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 2fr;
}

.file {
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    border-color: black;

    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.file p,
.folder p {
    width: 100%;
    max-height: 2.5em;
    margin: 0px;

    text-align: center;
    text-overflow: clip;
    overflow: hidden;
}

.file img,
.folder img {
    width: 100%;
}

.file .buttonRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.buttonRow button,
.buttonRow img {
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
}