:root{
    --navbar-height: 50px;
    --default-color: rgb(50, 50, 50);
    --default-navbar-color: rgb(30, 30, 30);
    --default-button-color: rgb(100, 100, 100);
}

body {
    background-color: var(--default-color);
}

button {
    cursor: pointer;    
    border-color: black;
    color: black;
}

iframe {
    height: 50%;
    border: none;
}

.navbarContainer{
    margin-top: -8px;

    width: 100%;
    position: fixed;
    z-index: 1;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    left: 0;
    right: 0;
}

nav {
    background-color: var(--default-navbar-color);
    width: 100%;
    height: var(--navbar-height);
    
    z-index: inherit;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}

.navElementLeft,
.navElementCenter,
.navElementRight {
    position: relative;
    height: inherit;
    margin-left: 0px;
    margin-right: 0px;
}

.navElementLeft .newFolder {
    background-color: var(--default-button-color);
    padding: 0;
    border: none;
}

.newFolder,
.newFolder img {
    height: inherit;
    border-radius: 10px;
}

.progressBar {
    width: 100%;
    margin: 0;
    padding: 0;

    color: white;
    background-color: gray;
    
    border-radius: 10px;
}

.navElementRight .upload {
    background-color: var(--default-button-color);
    padding: 0;
    border: none;
    
    position: absolute;
    right: 0px;
}

.upload,
.upload img {
    height: inherit;
    border-radius: 10px;
}

.displayContainer {
    z-index: inherit;
    text-align: center;
    background-color: var(--default-navbar-color);
}

.toggle {
    position: absolute;
    inset: 0px;
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.displayArea video,
.displayArea img,
.displayArea audio,
.displayArea p,
.displayArea iframe {
    width: 100%;
    color: white;
    margin: 0;
}

.toggleLabel .toggleLabelImage {
    width: 50px;
}

.toggleDisplay:checked~.toggleLabel .toggleLabelImage {
    transform: rotate(180deg);
}

.toggleDisplay:checked~.displayArea {
    height: 0;
    visibility: hidden;
}

.toggleDisplay~.displayArea {
    overflow-y: scroll;
}

.toggleLabelImage {
    cursor: pointer;
}

.fileList {
    width: 100%;
    margin-top: 8px;
    padding-top: calc(2*var(--navbar-height));
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;

    overflow-y: scroll;
    scrollbar-width: none;
}